:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
        to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
        #ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;

    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    font-family: "Nunito", sans-serif;
}

body {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 450" opacity="0.11"%3E%3Cdefs%3E%3Cfilter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB"%3E%3CfeGaussianBlur stdDeviation="40" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg filter="url(%23bbblurry-filter)"%3E%3Cellipse rx="195.5" ry="168" cx="10.947072115811466" cy="40.4189917824485" fill="hsla(236, 72%, 59%, 1.00)"%3E%3C/ellipse%3E%3C/g%3E%3C/svg%3E') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(13, 14, 22) !important;

    overflow-y: hidden;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -40px 0;
    }
    100% {
        background-position: 0 0;
    }
}

body {
    animation: moveBackground 10s infinite;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-image: none !important;
    }
}
