.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Set the height of the container to full viewport height */
  animation: fadeUpwards 1s ease-in-out;
}

@keyframes fadeUpwards {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.title {
  font-size: 40px;
  font-weight: 800;
  text-align: center; 

  padding-bottom: 25px;

  background: linear-gradient(45deg, #605CEB, #FF5E7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-new {
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(rgb(13, 14, 22), rgb(13, 14, 22)), linear-gradient(45deg, #615ceb3b, #ff5e7e3f);
  background-origin: border-box;
  background-clip: content-box, border-box;

  margin-bottom: 2rem;
}

.main-new p {
  padding: 8px 10px;
  background: linear-gradient(45deg, #605CEB, #FF5E7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 20px;
  font-weight: 400;
  color: #ffffffaf;

  padding-bottom: 25px;
  
  overflow-wrap: break-word;
  max-width: 45ch;
  text-align: center; 
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  padding-top: 25px;

  align-items: center;
  justify-content: center;
  align-items: center;
}

.add {
  padding: 12px 20px;
  background-color: #605CEB;
  border-radius: 8px;

  border: 1px solid #ffffff15;
}

.add:hover {
  background-color: #7b76ff;
}

.browse {
  padding: 12px 20px;
  background-color: #47474733;
  border-radius: 8px;

  border: 1px solid #ffffff15;
}

.browse:hover {
  background-color: #47474793;
}

.trusted-by-section {
  margin-top: -5rem;
  padding-bottom: 10rem;
  animation: fadeUpwards 1.5s ease-in-out;
}

.trusted-by-title {
  display: flex;
  text-align: center;
  justify-content: center;
  
  font-size: 15px;
  font-weight: 450;

  color: #ffffff8c;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.server-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80rem;

  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.slider-items {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  50% { transform: translateX(calc(10rem * 2)) }
}

.server-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 15rem;
}

.server-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.server-info {
  display: flex;
  flex-direction: column;
}

.server-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.server-name img {
  width: 15px;
  height: 15px;
}

.server-name {
  font-size: 16px;
  font-weight: 500;
}

.member-count {
  font-size: 14px;
  color: #777777;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;

  padding-bottom: 15em;
  gap: 5rem;

}

.feature-information {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.feature-icon {
  display: flex;
  flex-direction: row;

  gap: 1rem;

  align-items: center;
}

.feature-icon span {
  font-weight: 600;
  text-transform: uppercase;

  color: #ffffffbe;
}

.feature-icon-left {
  display: flex;
  width: 50px;
  height: 50px;

  justify-content: center;
  align-items: center;

  background-color: #191522;
  border-radius: 12px;

  border: 1px solid #ffffff49;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.068), 0 0 25px rgba(255, 255, 255, 0.062);
}

.feature-icon-image {
  width: 25px !important;
  height: 25px !important;
}

.feature h1 {
  font-size: 800;
  max-width: 20ch;
}

.feature p {
  max-width: 39ch;
  color: #ffffffaf;
}

.feature img {
  width: 500px;
  height: 350px;
}

.feature a {
  text-align: center;
  padding: 12px 20px;
  background-color: #47474733;
  border-radius: 8px;

  border: 1px solid #ffffff15;
}

.feature a:hover {
  background-color: #47474793;
}

.white {
  color: rgba(255, 255, 255, 0.842);
  padding-left: 0.5ch;
  padding-right: 0.5ch;
}

@media screen and (max-width: 1090px) {
  .feature {
    flex-direction: column;
    gap: 1rem;

    align-items: center;
    align-self: center;
    align-content: center;

    text-align: center;
  }

  .feature-information {
    justify-content: center;
    align-items: center;
  }

  .feature img {
    order: -1;
  }
}